<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <div>
            <header>header</header>
        </div>
        <nav>nav1</nav>
        <aside>aside</aside>
        <section>
            <article>art1</article>
            <article>art2</article>
            <article>art3</article>
        </section>
        <footer>2022 Moobec</footer>
    </div>
</body>
</html>